*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

h1 {
  padding-top: 78px;
  font-size: 51.698px;
  font-style: normal;
  font-weight: 400;
  line-height: 51.698px;
  color: #8f94ff;
  font-family: Sylvester;
}

h2 {
  padding-top: 16px;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  width: 622px;
  text-align: center;
}

.body-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: #1d1d1d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.card-wrapper img {
  width: 209.275px;
  height: 257.305px;
}

.all-card-wrapper {
  padding: 30px 61px;
  display: flex;
  min-height: 55vh;
  gap: 38px;
  flex-wrap: wrap;
  position: relative;
}

.card-wrapper:nth-child(even) {
  position: relative;
  top: 70px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
  transition: all 0.2s;
}

.card-wrapper:hover {
  transform: scale(1.02);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media (max-width: 1070px) {
  .card-wrapper:nth-child(even) {
    position: relative;
    top: 0;
  }
}

@media (max-height: 750px) {
  .card-wrapper:nth-child(even) {
    position: relative;
    top: 0;
  }
}

@media (max-width: 600px) {
  h1 {
    padding-top: 20px;
    font-size: 30px;
    font-style: normal;
  }
}

@media (max-width: 940px) {
  h2 {
    font-size: 50px;
  }
}

@media (max-width: 808px) {
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 808px) {
  .all-card-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  h2 {
    font-size: 1.4rem;
  }
}
